:root {
  --main-color: #373737; /* Main color variable */
  --background-color: #f5f5dc; /* Background color variable */
}

body {
  direction: rtl;
}

nav.navbar.custom-navbar.navbar.navbar-expand.navbar-light {
  background-color: var(--background-color);
  color: var(--main-color);
}

.main-title {
  color: var(--main-color);
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}
.product-count {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}
.border-b {
  border-bottom: 1px solid lightgrey;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.flex-item.col-sm-4 {
  margin-bottom: 2em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
  color: darkturquoise;
}
.flex-container.row {
  justify-content: center;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-row {
  margin-bottom: 2em;
}
.main-form {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1em;
}
.confirm-btn {
  margin: 1em 0;
}
.list-title {
  text-align: center;
  text-decoration: underline;
}
