:root {
  --main-color: #373737; /* Main color variable */
  --background-color: #f5f5dc; /* Background color variable */
}

body {
  direction: rtl;
}

nav.navbar.custom-navbar.navbar.navbar-expand.navbar-light {
  background-color: var(--background-color);
  color: var(--main-color);
}

.main-title {
  color: var(--main-color);
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}
.product-count {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}
